/*主页面的样式表*/

/*设置顶部导航栏外部容器的样式*/
.topbar-wrapper{
	/*设置外部容器的宽度，使得其跟随网页的变化而变化*/
	width:100%;
	/*设置外部容器的背景颜色*/
	background-color: #333;
	/*设置外部容器的高度*/
	height:40px;
	line-height: 40px;
}

/*设置导航栏的样式*/
.topbar a{
	
	/*让超链接撑大父元素*/
	display: block;
	/*设置超链接内数据的样式*/
	font-size:12px;
	color:#B0B0B0;
}
.topbar a:hover{
	color:#fff;
}
/*设置分割线的样式*/
.topbar .line{
	color:#424242;
	font-size:12px;
	margin:0 8px;
}
/*设置左侧导航栏样式*/
.topbar .service,
.topbar li{
	float:left;
}
/*设置下载app下的下拉框样式*/
/*给app开启相对定位，使其成为下拉框对齐的基准*/
.topbar .app{
	position:relative;
}
/*绘制下拉框的小三角*/
.app::after{
	display: none;
	/*给小三角开启绝对定位*/
	position:absolute;
	content:"";
	width:0px;
	height:0px;
	border:8px transparent solid;
	border-bottom-color:#fff;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
}
/*设置鼠标移入时二维码出现的样式*/
.app-wrapper:hover .app::after,
.app-wrapper:hover .qrcode{
	height:148px;
	display: block;
}
.app .qrcode{
	/*给下拉框设置绝对定位，便于移动位置且可以使其浮动从而不在父元素中占据位置*/
	position:absolute;
	width:124px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	text-align: center;
	line-height: 1px;
	left:-40px;
	z-index:999;
	transition: height 0.3s;
	overflow: hidden;
	height:0px;
}
/*设置二维码的大小*/
.qrcode img{
	width:90px;
	margin:17px;
	margin-bottom:20px;
}
.qrcode span{
	color:#000;
	font-size:14px;
}

/*设置右侧导航栏的样式*/
.topbar .shop-car,
.topbar .user-info{
	float:right;
}

/*设置购物车的样式*/
.shop-car a{
	width:120px;
	background-color:#424242;
	/*让文本居中*/
	text-align: center;
}
.shop-car{
	margin-left:26px;
	position:relative;
}
.shop-car i{
	margin-right:2px;
}
.shop-car:hover a{
	background-color: #fff;
	color:#ff6700;
}
.shop-car li .alarm{
	color:rgb(66,66,66);
	font-size: 12px;
	width:320px;
	text-align: center;
	line-height:100px ;
	background-color: white;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	position:absolute;
	left:-200px;
	height:0px;
	transition: height 0.3s;
	/*将盒子的高度设置为0后，文字会溢出，所以将其隐藏*/
	overflow:hidden;
}
.shop-car:hover .alarm{
	z-index: 999;
	height:100px;
}

/*给中间导航栏设置样式*/
.nav{
	height:100px;
}
/*设置logo的样式*/
.nav .logo{
	float:left;
	display: inline-block;
	margin-right: 60px;
}
.nav .logo img{
	width:56px;
	padding:22px 0px;
}

/*设置中间商品栏的样式*/
.nav .goods-list-wrapper{
	float: left;
	line-height: 100px;
}
.nav .goods-list-wrapper .goods-list li{
	float: left;
	font-size: 16px;
	color: #333;
	margin-left: 20px;
	z-index: 9;
}


/*设置手机的的下拉框*/
.nav-wrapper{
	position: relative;
}
.goods-img1{
	position: absolute;
	width:100%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	top:100px;
	left:0;
	transition: height 0.3s;
	z-index: 999;
}
.nav .goods-list-wrapper .goods-list .goods-img1 li{
	margin-top: 64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
}
.nav .goods-list-wrapper .goods-list li a{
	display: block;
}
.nav .goods-list-wrapper .goods-list li>a:hover{
	color:#FF6700;
}
.nav .goods-list-wrapper .goods-list .phone:hover+.goods-img1,
.goods-img1:hover{
	height: 228px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.3);
	border-top:1px solid #e0e0e0;
}

.nav .goods-list-wrapper .goods-img1 li:last-child{
	border:none;
}

.nav .goods-list-wrapper .goods-img1 a{
	float: left;
	width:150px;
	height:100px;
}
/*设置红米手机的下拉框*/
.goods-img2{
	position: absolute;
	width:100%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	top:100px;
	left:0;
	transition: height 0.3s;
	z-index: 999;
}
.nav .goods-list-wrapper .goods-img2 li{
	margin-top: 64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
}

.nav .goods-list-wrapper .goods-list .redphone:hover+.goods-img2,
.goods-img2:hover{
	height: 228px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.3);
	border-top:1px solid #e0e0e0;
}

.nav .goods-list-wrapper .goods-img2 li:last-child{
	border:none;
}

/*设置电视的下拉框*/
.goods-img3{
	position: absolute;
	width:100%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	top:100px;
	left:0;
	transition: height 0.3s;
	z-index: 999;
}
.nav .goods-list-wrapper .goods-img3 li{
	margin-top: 64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
	padding-left:3px ;
}

.nav .goods-list-wrapper .goods-list .tv:hover+.goods-img3,
.goods-img3:hover{
	height: 228px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.3);
	border-top:1px solid #e0e0e0;
}

.nav .goods-list-wrapper .goods-img3 li:last-child{
	border:none;
}

/*设置笔记本的下拉框*/
.goods-img4{
	position: absolute;
	width:100%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	top:100px;
	left:0;
	transition: height 0.3s;
	z-index: 999;
}
.nav .goods-list-wrapper .goods-img4 li{
	margin-top: 64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
}

.nav .goods-list-wrapper .goods-list .computer:hover+.goods-img4,
.goods-img4:hover{
	height: 228px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.3);
	border-top:1px solid #e0e0e0;
}

.nav .goods-list-wrapper .goods-img4 li:last-child{
	border:none;
}

/*设置ipad的下拉框*/
.nav .goods-list .goods-img5{
	position: absolute;
	width: 100%;
	top:100px;
	left:0px;
	height:0px;
	overflow: hidden;
	transition:height 0.3s;
	background-color: #fff;
	z-index: 999;
}
.nav .goods-list .goods-img5 li{
	margin-top:64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
}
.nav .goods-list-wrapper .goods-img5 li:last-child{
	border-right: none;
}
.nav .goods-list .ipad:hover+.goods-img5,
.goods-img5:hover{
	height:228px;
	border-top:1px #e0e0e0 solid;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
/*设置家电的下拉框*/
.goods-img6{
	position: absolute;
	width:100%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	top:100px;
	left:0;
	transition: height 0.3s;
	z-index: 999;
}
.nav .goods-list-wrapper .goods-img6 li{
	margin-top: 64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
}

.nav .goods-list-wrapper .goods-list .electricity:hover+.goods-img6,
.goods-img6:hover{
	height: 228px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.3);
	border-top:1px solid #e0e0e0;
}

.nav .goods-list-wrapper .goods-img6 li:last-child{
	border:none;
}

/*设置路由器的下拉框*/
.goods-img7{
	position: absolute;
	width:100%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	top:100px;
	left:0;
	transition: height 0.3s;
	z-index: 999;
}
.nav .goods-list-wrapper .goods-img7 li{
	margin-top: 64px;
	float: left;
	vertical-align: center;
	border-right: #e0e0e0 1px solid;
}

.nav .goods-list-wrapper .goods-list .mouse:hover+.goods-img7,
.goods-img7:hover{
	height: 228px;
	box-shadow:0px 3px 3px rgba(0,0,0,0.3);
	border-top:1px solid #e0e0e0;
}

.nav .goods-list-wrapper .goods-img7 li:last-child{
	border:none;
}


/*创建全部商品分类下的下拉框*/
.nav .goods-list-wrapper .goods-list .all-goods{
	visibility: hidden;
}
.all-goods-wrapper{
	position: relative;
}
.nav .goods-list-wrapper .goods-list .goods-info{
	position: absolute;
	width:234px;
	height:420px;
	background-color: #69656599;
	padding: 20px 0px;
	top:100px;
	left:-137px;
}
.nav .goods-list-wrapper .goods-list .goods-info div{
	line-height: 42px;
	padding-left:20px;
}
.nav .goods-list-wrapper .goods-list .goods-info>div>a{
	font-size: 14px;
	color: #fff;
	line-height: 42px;
}

.nav .goods-list-wrapper .goods-list .goods-info div i{
	line-height: 42px;
	float:right;
	margin: 0px 20px 0px 40px;
}
.nav .goods-list-wrapper .goods-list .goods-info>div:not(.goods-wrapper):hover{
	background-color: #FF6700;
}

/*设置搜索框的样式*/
.nav .search{
	float:left;
	height: 100px;
	vertical-align: center;
	left:930px;
	padding: 25px 0px;
	margin-left: 104px;
}
.nav .search input{
	float:left;
	width:244px;
	height:50px;
	padding:0px 10px;
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	outline: none;
	
}
.nav .search button{
	float:left;
	width:49px;
	height:48px;
	padding:0px;
	border:1px solid #e0e0e0;
	background-color: #fff;
	border-left: none;
	box-sizing: content-box;
	color: #e0e0e0;
}
.nav .search input:focus,
.nav .search input:focus+button{
	border-color: #FF6700;
}

.nav .search button:hover{
	background-color: #FF6700;
	color: white;
}

/*设置banner的样式*/
.banner-wrapper .banner{
	position: relative;
	height:460px;
}
.banner-wrapper .banner .banner-imgs li{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 0;
}
.banner-wrapper .banner .banner-imgs img{
	height: 460px;
}
/*设置banner中图片切换的样式*/
.banner-wrapper .banner .prev-next .prev a{
	position:absolute;
	display: block;
	top:195px;
	left:246px;
	width:40px;
	height:70px;
	background-image: url(../img/tool/icon-slides.png);
	background-position: 80px center;

}
.banner-wrapper .banner .prev-next .prev a:hover{
	background-position: 0px center;
}
.banner-wrapper .banner .prev-next .next a{
	position:absolute;
	display: block;
	top:195px;
	right:15px;
	width:40px;
	height:70px;
	background-image: url(../img/tool/icon-slides.png);
	background-position: 40px center;

}
.banner-wrapper .banner .prev-next .next a:hover{
	background-position: 120px center;
}
/*设置banner中的圆点的样式*/
.banner-wrapper .banner .banner-circle{
	position:absolute;
	bottom:27px;
	right:33px;
}
.banner-wrapper .banner .banner-circle li{
	float: left;
}
.banner-wrapper .banner .banner-circle a{
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FFFFFF66;
	border: 2px solid #00000066;
	margin: 0px 4px;
}
.banner-wrapper .banner .banner-circle a:hover,
.banner-wrapper .banner .banner-circle>li:first-child>a{
	background-color:#00000066;
	border-color:#FFFFFF66;
}

/*设置商品信息栏目的样式*/
.goods-info .goods-wrapper{
	display: none;
	position: absolute;
	background-color: #fff;
	color: black;
	width:954px;
	height:420px;
	top:0px;
	left:234px;
	padding: 20px 20px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	z-index: 99999;
}
.goods-info .goods-wrapper .goods{
	width:954px;
	height:420px;
	
}
.goods-info .goods-wrapper .goods td{
	vertical-align:center ;
	text-align: center;
}
.goods-info .goods-wrapper .goods td img,
.goods-info .goods-wrapper .goods td a{
	float: left;
	font-size: 14px;
}
.all-goods-wrapper .goods-info .goods-info-hover:hover~.goods-wrapper,
.goods-wrapper:hover{
	display: block;
}
.all-goods-wrapper .goods-info .goods-wrapper .goods a:hover{
	color: #FF6700;
}

/*给尾部设置样式*/
.foot-wrapper .footer{
	margin-top: 16px;
}
.foot-wrapper .footer .tool{
	width:234px;
	height:170px;
	background-color:#5F5750;
	padding: 3px;
	font-size: 12px;
	box-sizing: border-box;
	padding: 3px;
}

.foot-wrapper .footer .tool li{
	float: left;
	width: 76px;
	height: 82px;
	padding: 5px 3px;
	box-sizing: border-box;
	position: relative;
}
.foot-wrapper .footer .tool li>a{
	display: block;
	color: #B0B0B0;
	width: 70px;
	height: 64px;
	text-align: center;
}
.foot-wrapper .footer .tool li a>i{
	padding: 10px 23px;
	display: block;
	font-size: 24px;
	color:#B0B0B0;
}
.foot-wrapper .footer .tool li a:hover,
.foot-wrapper .footer .tool li a:hover>i{
	color:#fff;
}
/*设置左侧工具栏的分割线*/
.foot-wrapper .footer .tool li::before{
	content: "";
	height: 70px;
	width:1px;
	background-color: #665e57;
	position: absolute;
	top:3px;
	left:1px;
}

.foot-wrapper .footer .tool li::after{
	content: "";
	height: 1px;
	width:65px;
	background-color: #665e57;
	position: absolute;
	top:-2px;
	left:6px;
}
/*设置尾部的图片栏样式*/
.foot-wrapper ul{
	float: left;
}
.foot-wrapper .tool-imgs{
	width:992px;
}
.foot-wrapper .tool-imgs li{
	float:left;
	margin-left: 14.5px;

}
.foot-wrapper .tool-imgs li img{
	width:316px;
	height:170px;
}

/*开始副标题的样式*/
.side-page-wrapper{
	width:100%;
	background-color:#F5F5F5;
	clear:both;
	margin-top: 220px;
	
}
.side-page-wrapper .side-page .first-img{
	width: 100%;
	margin-top: 30px 0px 0px 40px;
	height: 122px;
}
.side-page-wrapper .side-page .first-img img{
	width:100%;
	height: 122px;
}
/*设置第二栏标题的样式*/
.side-page-wrapper .side-page .second-img{
	width:1225px;
	height:57px;
	font-size: 22px;
	color: #333;
	vertical-align: center;
	padding:17.5px 0px;
	margin-top: 30px;
	box-sizing: border-box;
}
.side-page-wrapper .side-page .second-img a{
	font-size: 16px;
	float: right;
}
.side-page-wrapper .side-page .second-img a>span{
	width: 20px;
	height:20px;
	font-size: 12px;
	border-radius: 50%;
	background-color: #B0B0B0;
	color: white;
	padding: 3px;
	margin-left: 8px;
}
.side-page-wrapper .side-page .second-img a:hover{
	color: #DF5000;
}
.side-page-wrapper .side-page .second-img a:hover>span{
	background-color: #DF5000;
}
/*设置第三个图片标题的样式*/
.side-page-wrapper .side-page .third-img div img{
	width:234px;
	height:614px;
}
.side-page-wrapper .side-page .third-img>div{
	float: left;
}
.side-page-wrapper .side-page .third-img ul{
	float: right;
	width:992px;
	height:614px;
	margin: 0px 0px -14px -14px;
}
.side-page-wrapper .side-page .third-img ul li{
	float: left;
	width: 234px;
	height:300px;
	padding:20px 0px;
	background-color: #fff;
	margin: 0px 0px 14px 14px;
	box-sizing: border-box;
	
}
.side-page-wrapper .side-page .third-img ul img{
	width:160px;
	height:160px;
	padding:0px 37px;
}

body .side-page-wrapper .side-page .third-img ul li a .first{
	text-align: center;
	margin:0px 10px 2px;
	font-size: 14px;
	color:#333333;
}
.side-page-wrapper .side-page .third-img .second{
	text-align: center;
	color: #B0B0B0;
	margin:0px 10px 10px;
	font-size: 12px;
	
}
.side-page-wrapper .side-page .third-img .third{
	text-align: center;
	margin:0px 10px 14px;
	font-size: 14px;
	color: #ff6700;
}

/*设置结尾页面的样式*/
.last-wrapper{
	clear:both;
}
.last-wrapper .last .last-tool{
	width:1226px;
	height:80px;
	padding:27px 0px;
	text-align: center;
	border-bottom: 1px solid #616161;
	box-sizing: border-box;
}
.last-wrapper .last .last-tool li{
	float:left;
	height:25px;
	width:243px;
	border-left:1px solid #757575;
}
.last-wrapper .last .last-tool>li:first-child{
	border-left:none;
}
.last-wrapper .last .last-tool li a{
	display: block;
	font-size: 16px;
	color:#616161;
}
.last-wrapper .last .last-tool li a li{
	margin-right: 2px;
}
.last-wrapper .last .last-tool a:hover{
	color:#FF6700;
}
/*写设置的样式*/
.last-wrapper .last .last-set{
	width:1226px;
	height:250px;
	padding: 40px 0px;
}
.last-wrapper .last .last-set .left{
	float: left;
	width:975px;
}
.last-wrapper .last .last-set{
	position: relative;
}
.last-wrapper .last .last-set .left::after{
	position: absolute;
	top:50px;
	left:975px;
	content:"";
	height:110px;
	width:1px;
	background-color:#424242;
}
.last-wrapper .last .last-set .noHover div{
	float: left;
	width:160px;
	height:17.5px;
	margin:-1px 0px 26px;
	font-size: 14px;
	color: #424242;
	text-align: left;
}
.last-wrapper .last .last-set .set{
	width:975px;
}
.last-wrapper .last .last-set .set a{
	display: inline-block;
	left:float;
	color: #757575;
	font-size: 12px;
	text-align: left;
	width:157px;
	height:18px;
	margin:10px 0px 0px 0px;
	left:0px;
	right:0px;
} 
.last-wrapper .last .last-set .set a:hover{
	color:#FF6700;
}
/*给右侧设置栏目设置样式*/
.last-wrapper .last .last-set .right{
	float: right;
	text-align: center;
	width:250px;
	height:111px;
	color: #616161;
	font-size: 14px;
}

.last-wrapper .last .last-set .right .number{
	color: #FF6700;
	font-size: 22px;
	margin: 0px 0px 5px;
	height:22px;
}
.last-wrapper .last .last-set .right .mini-number{
	margin-top: 10px;
	height:18px;
}
.last-wrapper .last .last-set .right .customer a{
	display: block;
	width: 120px;
	color:#FF6700;
	font-size: 12px;
	border: 1px solid #FF6700;
	height: 30px;
	padding-top:4px;
	box-sizing: border-box;
}
.last-wrapper .last .last-set .right .customer{
	margin-top: 10px;
	padding:0px 65px 0px 65px;
	height: 30px;
	background-color: #FFFFFF;
	vertical-align: center;
	box-sizing: border-box;
}
.last-wrapper .last .last-set .right .icon{
	margin-top: 10px;
	font-size: 12px;
	margin:10px 0px 0px;
	height:21px;
}
.last-wrapper .last .last-set .right .icon a{
	margin-left: 10px;
}
.last-wrapper .last .last-set .right .icon a:hover{
	color:#FF6700;
}

/*末尾样式设置*/
.end-wrapper{
	background-color: #fafafa;
	padding: 40px 0px 100px 0px;
	clear: both;
}

.end-wrapper .end .logo img{
	float: left;
	width: 56px;
}

.end-wrapper .end .first-words{
	float: left;
	width:1159px;
	margin-left: 10px;
}
.end-wrapper .end .first-words li{
	float: left;
	height:19px;
}
.end-wrapper .end .first-words li a{
	font-size: 12px;
	color: #757575;
}
.end-wrapper .end .first-words .line{
	margin: 0px 5px;
	color: #757575;
}
.end-wrapper .end .first-words a:hover{
	color:#FF6700;
}
.end-wrapper .end .second-words{
	float: left;
}
.end-wrapper .end .second-words li{
	margin-left:10px ;
}
.end-wrapper .end .second-words li{
	float:left;
	color:#B0B0B0;
}
.end-wrapper .end .second-words li a{
	color:#B0B0B0;
}
.end-wrapper .end .second-words .img{
	float: left;
}
.end-wrapper .end .second-words .img img{
	height:28px;
}

.end-wrapper .end .second-words a:hover{
	color: #FF6700;
}
.end-wrapper .end-words{
	padding-top: 50px;
	color: #B0B0B0;
	font-size: 18px;
	width: 100%;
	height: 19px;
	text-align: center;
	font-family: "Helvetica Neue";
	clear: both;
}