/*公共样式表,即一个项目中所有的网页都要用到的样式*/

/*消除高度塌陷的类*/
._clearfix::before,
._clearfix::after{
	content:"";
	display:table;
	clear:both;
}

/* 设置网页的整体格式*/
body{
	/*设置网页的字体和颜色*/
	font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	color:#333;
	/*设置网页的背景颜色*/
	background-color:#fff;
	/*设置网页的最小宽度，防止当页面缩小时，网页主体（中间容器）溢出*/
	mid-width:1226px;
}

/*设置一个用来表示网页中间容器宽度的类*/
.w{
	/*设置中间容器的宽度*/
	width:1226px;
	/*设置中间容器居中效果*/
	margin:0 auto;
}

/*去除所有超链接的颜色和下划线*/
a{
	text-decoration:none;
	color:black;
}