@font-face {
  font-family: "iconfont"; /* Project id 2872124 */
  src: url('iconfont.woff2?t=1636455176949') format('woff2'),
       url('iconfont.woff?t=1636455176949') format('woff'),
       url('iconfont.ttf?t=1636455176949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e6a2";
}

.icon-linecar105:before {
  content: "\e66c";
}

